@import'./vendor/normalize';

.container{
    background-color: teal;
}

@media (min-width: 1024px ) {
    .container {
        background-color: white;
    }
}

.container h1 {
    color: red;
}

.container p {
    color: blue;
}

.container ul li {
    list-style: none;
}

p {
    color: blue;
}

ul {
    li{
        list-style: none;
    }

}

